/* Home.scss */

.home-container {
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-logo {
  border-radius: 50%;
}

.text-container {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation: fadeIn 3s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
