// Colors
$transparent: rgba(0, 0, 0, 0);
$color-background-even: #262626;
$color-background-odd: #262626;
// Navigation Variables
$content-width: 1400px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;
$nav-font-color-active:  #2581DC;